.transaction-link {
  color: var(--diem);
  text-decoration: none;
  font-weight: bold;
}

.address-link {
  color: var(--diem);
  text-decoration: none;
  font-weight: bold;
}

.transactionVal {
  color: var(--diem);
  display: inline-block;
}

.errorMsgClr {
  color: var(--diemErr)
}

.themeBgClr {
  background-color: var(--diem);
}