:root {
  --diem: #39298c;
}

.tbl-nav {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0;
}

.cmb-15 {
  margin-bottom: 15px;
}

.btn-light:active,
.btn-light:focus {
  box-shadow: 0 0 0 0.05rem rgb(211 212 213 / 50%);
}

.loader-center-styles {
  background-color: #efefef;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
}

.loading .spinner-border {
  color: var(--diem) !important;
}